*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    list-style: none;
}

:root{
    --iconos:#999999;
    --rojo:#e50914;
}
html{
    font-family: "Open Sans", "Helvetica Neue";
    font-size: 16px;
}

.section-abajo{
    background:black;
    height:100vh;
}

hr{
    border: 1.5px solid #3d3d3d;
    background: #3d3d3d;
}
.active{
    cursor:pointer;
    border-bottom: 4px solid red;
}

.superior{
    background:#141414;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    /* height: 200px; */
}
.icono{
    color:var(--iconos);
    display: flex;
    flex-direction: column;
    height: 163px;
    margin: 40px 0 0 0;
    align-items: center;
    box-sizing: border-box;
}
.icono i{
    font-size:4.5rem;
    margin: 0px 0 17px 0;
}
.icono p{
    font-size:1.4rem;
}

.cuerpo{
    display: flex;
    background:black;
    color: #fff;
    margin: 35px auto;
    width: 835px;
}
.cuerpo-text{
    /* width: 50%; */
    font-size: 1.7rem;
    margin: 50px 0 0px 0;
}

.cuerpo-text button{
    background:var(--rojo);
    color: #fff;
    border:none;
    padding:15px 20px;
    font-size:1.1rem;
    margin:15px 0 0 0;
}

.cuerpo-text button{
    background:var(--rojo);
    color: #fff;
    border:none;
    padding:15px 20px;
    font-size:1.1rem;
    margin:15px 0 0 0;
}
.cuerpo-img{
    background-image:url(../image/imagen.PNG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:300px;
    width: 436px;
    margin: 53px 0 0 0;
}

footer{
    margin: 69px 80px 0 80px;
}

footer p{
    color:var(--iconos);
    margin: 0 0 28px 0;
}
footer .container{
    display:flex;
    align-items: center;
    justify-content: space-between;
    background:black;
    color:var(--iconos);
    /* height:300px; */
}

.container>ul  li{
    padding:0 0 5px 0;
}