* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}
.cabezado{
    text-align: center;
    margin: 40px auto;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px 10px;
    width:800px;
    margin:50px auto;
    height: 700px;
    grid-auto-flow: row;
    grid-template-areas:
        "box1 box1 box2 box3"
        "box4 box5 box6 box6"
        "box7 box8 box8 box9";
}

.box1 {
    grid-area: box1;
}

.box2 {
    grid-area: box2;
}

.box3 {
    grid-area: box3;
}

.box4 {
    grid-area: box4;
}

.box5 {
    grid-area: box5;
}

.box6 {
    grid-area: box6;
}

.box7 {
    grid-area: box7;
}

.box8 {
    grid-area: box8;
}

.box9 {
    grid-area: box9;
}
.box{
    width: 100%;
    height: 100%;
    background: red;
}

.mono{
    margin: 40px auto;
    width: 600px;
    height: 600px;
}

.mono-1{
    background-image: url(https://lh3.googleusercontent.com/INJ50inPxluiJNV9aXLrhtGbV5Zq0fgTc8ILMNuNoV5A30P-lbhGJSlcWlAHT9lmBlz6vGXokS4iAQI=w1919-h936);
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    display: none;
    width: 100%;
}
.mono-2{
    background-image: url(https://lh3.googleusercontent.com/-wGuystKTGHVj9lLMtYQChFnYbGTaHbj-p_yX-9alKhv2YXl4s3tvDH1ffhQ0wPZZfbQ9aydND_NxuA=w1919-h936);
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    display: none;
    width: 100%;
}
.active{
    display: block;
}