img{
    display: none;
}

.activo{
    display: block;
}

.container{
    position: relative;
    margin: 20px;
}
button{
    border-radius: 20px;
    font-size: 31px;
    padding: 0 7px;
}

.siguiente{
    position: absolute;
    top: 196px;
    left: 383px;
}
.atras{
    position: absolute;
    top: 196px;
    left: 39px;
}

